%section.slogan
  %p A free unconference to code, share, learn, and improve Ruby.
  %p.light 3 days and nights of Rubyists in the same place is the whole point of the event. Stay overnight Friday and Saturday!
  %p
  %p Out-of-towners are welcome to arrive Thursday afternoon/evening and depart Monday morning if it makes their travel more convenient.
  %p
  %p.light Food, cots, and the event are graciously paid for by our sponsors. Bring toiletries, a sleeping bag and/or blanket, pillows, some warm clothing just in case, and a hunger to teach and learn.

%section.details
  .code.caps details = {
  .indented
    .code
      %span.spaced when:
      %span.light Fri Sept 28 @ 8am -> Sun Sept 30 @ 5pm
    .code
      %span.spaced where:
      %span.light [
    .indented
      .code
        %span.light
          %a{:href => "http://www.nps.gov/prwi/planyourvisit/orenda.htm"} Prince William National Forest Park
        %span.light ,
      .code
        %span.light
          %a{:href => "http://maps.google.com/maps?q=prince+william+forest+park&um=1&ie=UTF-8&sa=N&hl=en&tab=wl"} Google Map
        %span.light ,
      .code
        %span.light
          %a{:href => "http://www.nps.gov/prwi/planyourvisit/upload/to_cc3_1%20copy-2.jpg"} Map to venue from Rt 95
    .code
      %span.light ]
    .code
      %span.spaced what:
      %span.light
        Friday is a
        %a{:href => "http://coderetreat.ning.com/profiles/blogs/how-a-coderetreat-works"} code retreat
    .code
      %span.spaced.invisible what:
      %span.light
        Saturday &amp; Sunday are
        %a{:href => "http://en.wikipedia.org/wiki/Open_Space_Technology"} Open Spaces
  .code.caps }

%section.sponsors
  .code.caps who_made_it_happen = {
  .indented
    .code.margin_bottom
      %span platinum: [
      .indented
        %p
          %span
            Contact
            %a{:href =>"mailto:evan@tripledogdare.net"}
              Evan Light
      %span ],
    .code.margin_bottom
      %span gold: [
      %span
        Contact
        %a{:href =>"mailto:evan@tripledogdare.net"}
          Evan Light
      %span ],
    .code.margin_bottom
      %span silver: [
      %span
        Contact
        %a{:href =>"mailto:evan@tripledogdare.net"}
          Evan Light
      %span ]
  .code.caps }

%section.agenda
  .code.caps agenda = {
  %ul.indented
    %li.light Thursday
    %li
      %span.time afternoon - evening
      %span.description camp opens for early arrivals.  Food will be provided.  Just be sure to check the "Thursday night" box in the registration form.
  %ul.indented
    %li.light Friday (Code Retreat)
    %li
      %span.time 8:00am
      %span.description breakfast
    %li
      %span.time 9:00am
      %span.description welcome
    %li
      %span.time 9:05am
      %span.description
        three 45 minute pairing sessions on the
        %a{:href => "http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"} Game of Life
    %li
      %span.time ~noon
      %span.description lunch
    %li
      %span.time 1:30pm
      %span.description
        three 45 minute pairing sessions on the
        %a{:href => "http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"} Game of Life
    %li
      %span.time 5pm
      %span.description retreat adjourns
    %li
      %span.time ~5:30pm
      %span.description dinner
    %li
      %span.time later
      %span.description
        %a{:href => "http://www.youtube.com/watch?v=GeI5ke0BENw"} looks like I picked the wrong week to quit drinking
  %ul.indented
    %li.light Saturday and Sunday (Open Space Event)
    %li
      %span.time 8:00am
      %span.description breakfast
    %li
      %span.time 9:00am
      %span.description Evan welcoming speech
    %li
      %span.time 9:05am
      %span.description group brainstorming
    %li
      %span.time 9:30am
      %span.description group planning session
    %li
      %span.time 10am
      %span.description Open Space sessions begin
    %li
      %span.time ~noon
      %span.description lunch (often coincides with sessions)
    %li
      %span.time 1pm
      %span.description more sessions
    %li
      %span.time 6pm
      %span.description group daily debrief
    %li
      %span.time 6:15pm
      %span.description dinner
    %li
      %span.time later
      %span.description
        %a{:href => "http://www.youtube.com/watch?v=GeI5ke0BENw"} looks like I picked the wrong week to quit sniffing glue
  %ul.indented
    %li.light Monday
    %li
      %span.time morning
      %span.description Camp available for late departures
.code.caps }
