%section.slogan
  %p A free &ldquo;unconference&rdquo; to code, share, learn, and improve Ruby.
  %p.light 3 days and nights of Rubyists in the same place is the whole point of the event. Stay overnight Friday and Saturday!

%section.details
  .code.caps details = {
  .indented
    .code
      %span.spaced when:
      %span.light Fri Sept 16 @ 8am -> Sun Sept 18 @ 5pm
    .code
      %span.spaced where:
      %span.light
        Prince William National Forest Park -
        %a{:href => "http://www.nps.gov/prwi/planyourvisit/upload/to_cc3_1%20copy-2.jpg"} MAP
    .code
      %span.spaced what:
      %span.light
        Friday is a
        %a{:href => "http://coderetreat.ning.com/profiles/blogs/how-a-coderetreat-works"} code retreat
    .code
      %span.spaced.invisible what:
      %span.light
        Saturday &amp; Sunday are
        %a{:href => "http://en.wikipedia.org/wiki/Open_Space_Technology"} Open Spaces
  .code.caps }

%section.sponsors
  .code.caps who_made_it_happen = {
  .indented
    .code.margin_bottom
      %span platinum: [
      .indented
        %p
          %span
            %a{:href => "http://smartlogicsolutions.com", :id => "smartlogic"}
          %span ,
        %p
          %span
            %a{:href => "http://mdlogix.com", :id => "mdlogix"}
          %span ,
        %p
          %span
            %a{:href => "http://inmunited.com", :id => "inm"}
      %span ],
    .code.margin_bottom
      %span gold: [
      %span
        %a{:href => "http://tripledogdare.net", :id => "tripledogdare"}
      %span ,
      %span
        %a{:href => "http://twoguys.us", :id => "twoguys"}
      %span ],
    .code.margin_bottom
      %span silver: [
      %span
        %a{:href => "http://fool.com", :id => "fool"}
      %span ]

  .code.caps }

%section.agenda
  .code.caps agenda = {
  %ul.indented
    %li.light Friday (Code Retreat)
    %li
      %span.time 8:00am
      %span.description breakfast
    %li
      %span.time 9:00am
      %span.description welcome
    %li
      %span.time 9:05am
      %span.description
        three 45 minute pairing sessions on the
        %a{:href => "http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"} Game of Life
    %li
      %span.time ~noon
      %span.description lunch
    %li
      %span.time 1:30pm
      %span.description
        three 45 minute pairing sessions on the
        %a{:href => "http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"} Game of Life
    %li
      %span.time 5pm
      %span.description retreat adjourns
    %li
      %span.time ~5:30pm
      %span.description dinner
    %li
      %span.time later
      %span.description
        %a{:href => "http://www.youtube.com/watch?v=GeI5ke0BENw"} looks like I picked the wrong week to quit drinking
  %ul.indented
    %li.light Saturday/Sunday (Open Space Event)
    %li
      %span.time 8:00am
      %span.description breakfast
    %li
      %span.time 9:00am
      %span.description Evan welcoming speech
    %li
      %span.time 9:05am
      %span.description group brainstorming
    %li
      %span.time 9:30am
      %span.description group planning session
    %li
      %span.time 10am
      %span.description Open Space sessions begin
    %li
      %span.time ~noon
      %span.description lunch (often coincides with sessions)
    %li
      %span.time 1pm
      %span.description more sessions
    %li
      %span.time 6pm
      %span.description group daily debrief
    %li
      %span.time 6:15pm
      %span.description dinner
    %li
      %span.time later
      %span.description
        %a{:href => "http://www.youtube.com/watch?v=GeI5ke0BENw"} looks like I picked the wrong week to quit drinking
  .code.caps }
